<!doctype html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container p-3">
      <div class="row p-2">
        <div class="col justify-content-left">
          <h2>H & H</h2>
        </div>
      </div>
    </div>

    <!-- Login -->
    <div class="row justify-content-center">
      <div class="col-4 p-2">
        <h2>Login</h2>
        <form action="/login/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Username:</label>
          {% if login_username %}
            <input type="text" name="username" class="form-control is-invalid" placeholder="Username">
            <p class="text-danger small">Username is invalid</p>
          {% else %}
            <input type="text" name="username" class="form-control" placeholder="Username">
          {% endif %}
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
          {% if login_password %}
            <input type="password" class="form-control is-invalid" name="password" aria-describedby="password_help" placeholder="Password">
            <p class="text-danger small">Password is invalid</p>
          {% else %}
            <input type="password" class="form-control" name="password" aria-describedby="password_help" placeholder="Password">
          {% endif %}
          </div>
          <button type="submit" class="btn btn-outline-success">Login</button>
        </form>
      </div>

      <!-- Register -->
      <div class="col-4 p-2">
        <h2>Register</h2>
        <form action="/register/" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label for="first_name">First Name</label>
          {% if first_name_error %}
            <input type="text" name="first_name" class="form-control is-invalid" placeholder="First Name">
              <p class="text-danger small">First name is required and must be less then 30 characters</p>
          {% else %}
            <input type="text" name="first_name" class="form-control" placeholder="First Name">
          {% endif %}
          </div>

          <div class="form-group">
            <label for="last_name">Last Name</label>
          {% if last_name_error %}
            <input type="text" name="last_name" class="form-control is-invalid" placeholder="Last Name">
            <p class="text-danger small">Last name is required and must be less then 30 characters</p>
          {% else %}
            <input type="text" name="last_name" class="form-control" placeholder="Last Name">
          {% endif %}
          </div>

          <div class="form-group">
            <label for="username">Username:</label>
          {% if username_error %}
            <input type="text" name="username" class="form-control is-invalid" placeholder="Username">
            <p class="text-danger small">Username is required and must be less then 75 characters</p>
          {% elif username_in_use %}
            <input type="text" name="username" class="form-control is-invalid" placeholder="Username">
            <p class="text-danger small">Username is already in use, please create another</p>
          {% else %}
            <input type="text" name="username" class="form-control" placeholder="Username">
          {% endif %}
          </div>

          <div class="form-group">
            <label for="password">Password</label>
          {% if password_error %}
            <input type="password" class="form-control is-invalid" name="password" aria-describedby="password_help" placeholder="Password">
            <p class="text-danger small">Password must be at least 8 and under 128 characters</p>
          {% else %}
            <input type="password" class="form-control" name="password" aria-describedby="password_help" placeholder="Password">
            <small id="password_help" class="form-text text-muted">Must be at least 8 characters</small>
          {% endif %}
          </div>

          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
          {% if confirm_password_error %}
            <input type="password" class="form-control is-invalid" name="confirm_password" aria-describedby="confirm_password_help" placeholder="Confirm Password">
            <p class="text-danger small">Passwords do not match</p>
          {% else %}
            <input type="password" class="form-control" name="confirm_password" aria-describedby="confirm_password_help" placeholder="Confirm Password">
            <small id="confirm_password_help" class="form-text text-muted">Retype your above password</small>
          {% endif %}
          </div>
          <button type="submit" class="btn btn-outline-primary">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>