<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body class="container">
<!-- Nav Bar -->
        <div class="row justify-content-between">
            <div class="col-3">H&H</div>
            <div class="col-6 row">
                <div class="col-3">
                    <a href="" class="btn btn-outline-primary">Hideout</a>
                </div>
                <div class="col-3">
                    <a href="" class="btn btn-outline-primary">Character</a>
                </div>
                <div class="col-3">
                    <a href="" class="btn btn-outline-warning">User Profile</a>
                </div>
                <div class="col-3">
                    <a href="/logout/" class="btn btn-outline-danger">Logout</a>
                </div>
            </div>
        </div>
<!-- End of Nav Bar -->

        <div class="row">
            <p>User Profile (Change username, password, etc.)</p>
        </div>
    </body>
</html>